# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# NativeWind
.nativewind/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro / Babel
.metro-health-check*
metro-cache/
babel.config.js.cache

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# VSCode
.vscode/

# local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Ignore example file
app-example

# Misc
*.swp
.idea/
